.container,
.container form {
  width: 95%;
  margin: 1vh auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.disclaimer {
  width: 100%;
  margin: 2vh 0;
  background-color: #ff0a;
  border: 3px solid red;
  padding: 10px;
  border-radius: 10px;
}
.input,
.container textarea {
  text-align: center;
  width: 80%;
  border: none;
  padding: 5px 0;
  margin-bottom: 2vh;
  border-radius: 10px;
  resize: none;
}
.input::placeholder {
  border-radius: 10px;
  width: 100%;
  text-align: center;
  padding: 2px;
  transition: opacity 0.5s;
}
.container textarea::placeholder {
  transition: opacity 0.5s;
}
.input:is(:focus)::placeholder,
.container textarea:is(:focus)::placeholder {
  opacity: 0;
}
.container button {
  margin: 1vh 0;
  background-color: #00f8;
  color: #f5f5f5;
  font-weight: 700;
  padding: 5px;

  border: none;
  border-radius: 5px;
}
